* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffd369;
    background-color: #393e46;
}

.margin-remove {
    margin-top: 100px;
}

.title1 {
    font-size: 32px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.title2 {
    margin-top: 30px;
    font-size: 19px;
    color: #010000;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.title4 {
    color: #ffd369;
}

i.icon {
    height: 2em;
}
.header-area {
    padding: 20px 40px;
    background-color: #222831;
    margin-bottom: 10px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.05);
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__board {
    margin-right: 100px;
}
.header__board-txt {
    font-size: 20px;
    font-weight: 600;
}
.header__logo {
    height: 30px;
    text-align: center;
}
.header__logo:focus {
    outline: none;
}
.wrapper {
    display: flex;
    align-items: center;
}
.search__box {
    display: flex;
    background-color: #393e46;
    height: 40px;
    min-width: 300px;
    border-radius: 40px;
    padding: 10px 20px;
    transition: 0.3s;
}

.search__box:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.search__btn {
    align-items: center;
    color: #eeeeee;
    background-color: #222831;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.search__btn:focus {
    outline: none;
    color: #4183c4;
    transform: scale(1.2);
}
.search__txt {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    font-family: "Roboto", sans-serif;
    line-height: 40px;
    color: #ffd369;
    font-size: 14px;
    width: 100%;
}
.wrapper-mobile {
    display: none;
    background-color: #222831;
}
.user__icon-foto {
    height: 40px;
    width: 40px;
}
.user__icon {
    cursor: pointer;
    text-align: center;
    margin-left: 50px;
}
.user__icon-mobile {
    display: none;
}
.wrapper__dashboard {
    padding: 50px 100px;
    display: flex;
    column-gap: 50px;
    align-items: start;
}

.dashboard {
    display: flex;
    flex-direction: column;
    padding: 20px 7px;
    width: 100%;
    min-width: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border-radius: 5px;
    border-top: 5px solid transparent;
}
.dashboard__toDo {
    background: linear-gradient(#393e46, #ffd369) padding-box,
        linear-gradient(90deg, #ffd369, #393e46, #222831) border-box;
}
.dashboard__inProgress {
    height: max-content;
    background: linear-gradient(#393e46, #ffd369) padding-box,
        linear-gradient(90deg, #ffd369, #393e46, #222831) border-box;
}
.dashboard__done {
    height: max-content;
    background: linear-gradient(#393e46, #ffd369) padding-box,
        linear-gradient(90deg, #ffd369, #393e46, #222831) border-box;
}
.dashboard__title {
    padding-left: 10px;
    padding-bottom: 10px;
    color: #eeeeee;
    font-weight: bold;
}
.btn__dashboard {
    padding: 10px;
    width: 100%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ffd369;
    border-radius: 20px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus.icon {
    height: 1em;
    margin-bottom: 3px;
}

.btn__add {
    background-color: #393e46;
}

.btn__dashboard.btn__add:hover {
    background-color: #585757;
}

.btn__dashboard.btn__add:active {
    background-color: #585757;
}

.btn__delete {
    background-color: #393e46;
}

.btn__delete:hover {
    background-color: #53221c;
}

.btn__delete:active {
    background-color: #53221c;
}
.dashboard__cards-todo {
    min-height: 100px;
}
.dashboard__cards-inProgress {
    min-height: 100px;
}
.dashboard__cards-done {
    min-height: 100px;
}
.card__todo-title,
.card__inprogress-title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 10px;
}
.card__todo-description,
.card__inprogress-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.card__todo-author {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.user {
    display: flex;
    align-items: center;
    font-size: 16px;
}
.card__todo-move,
.card__inprogress-move {
    color: #ffd369;
}
.card__todo-move:hover {
    color: #ffd369;
}
.card__todo-edit,
.card__todo-delete {
    color: #ffd369;
    transition: 0.3s;
}
.card__todo-edit :hover,
.card__todo-delete :hover {
    color: darkgrey;
}
.card__todo-edit {
    padding-right: 10px;
    padding-top: 3px;
    transition: 0.3s;
    color: #ffd369;
}

.card__todo {
    background-color: #393e46;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    touch-action: none;
}

.card_top {
    display: flex;
    justify-content: space-between;
}

.card_bottom {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.pop-up,
.pop-up__delete-all {
    margin: 0 auto;
    max-width: 400px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    display: none;
}

.pop-up__close-button-wrap {
    display: flex;
    justify-content: flex-end;
}

.pop-up__close-button {
    width: 40px;
    height: 40px;
    color: #666666;
    background-color: #fff;
    font-size: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.pop-up__close-button:hover {
    background-color: #bfbfbf;
}

.pop-up__close-button:active {
    background-color: #8c8c8c;
}

.pop-up__image-wrap {
    display: flex;
    justify-content: center;
}
.ui.medium.image {
    margin: auto;
    max-width: 100%;
    padding: 30px 0;
}
.ui.image {
    display: flex;
}
.container__pop-up {
    padding: 5px;
}
.pop-up__image {
    width: 110px;
    height: 110px;
}

.pop-up__text-wrap {
    margin-top: 30px;
    text-align: center;
}

.pop-up__buttons-wrap {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    transition: 0.3s;
}

.btn {
    width: 150px;
    height: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: linear-gradient(90deg, #ffd369, #393e46, #222831) border-box;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.ui.button {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
.btn--light {
    background-color: #bfbfbf;
}

.btn--light:hover {
    background-color: #a6a6a6;
}

.btn--light:active {
    background-color: #8c8c8c;
}

.btn--dark {
    background-color: #e94545;
}

.btn--dark:hover {
    background-color: #e41b1b;
}

.btn--dark:active {
    background-color: #cd1818;
}

.ui.fluid.dropdown.user-select {
    width: 30%;
}

.ui.form {
    font-size: 19px;
}

.gradient-line {
    height: 20px;
    background: linear-gradient(90deg, #99b4e3, #7ce0d8);
}
.ui.modal.add__todo {
    border-radius: 20px;
}

.ui.modal > .actions {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.ui.selection.dropdown {
    text-align: left;
    font-size: 19px;
}

.ui.dropdown > .text {
    display: flex;
    align-items: center;
}

.ui.dropdown .menu .active.item {
    display: flex;
    align-items: center;
}

.drop-edit {
    width: 100%;
}
